<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="footer">
    <div class="footer am-u-sm-12" >
    <div class="am-vertical-align" style="text-align: center">
        <div class="am-vertical-align-bottom">
            <div style="">
                &copy; 2019-2020 kyx- <i class="am-icon-coffee" style="margin: 0 5px"></i>kyx 版权所有
            </div>
            <div id="footer">
                总访问量<span></span>
            </div>
            <div class="">
                <a>晋ICP备19005160号</a>
            </div>

        </div>
    </div>
    </div>
</div>


</body>

</html>