<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>友情链接</title>
    <link rel="stylesheet" href="assets/css/amazeui.min.css">
    <link rel="stylesheet" href="source/css/friend.css">
    <script src="assets/js/jquery-3.4.1.min.js"></script>
    <script src="source/js/friend.js"></script>
</head>
<body>
<div th:replace="header::header"></div>

<div class="am-container" style="margin-top: 50px">
    <div style="" class="am-u-sm-12">
        <strong>友情链接</strong>
        <div class="rules">
        <p>如果要和本站交换友链，请按照以下格式发送到 <a>1423826698@qq.com</a></p>
        <p>博客名字: 的博客</p>
        <p>博客地址:<a href="https://www.tclba.lyz"> https://www.tclba.lyz</a></p>
        <p>博客简介：6666</p>
        <p>博客头像：<a>https://www.tclba.xyz/logo.png</a></p>
        <hr>
        </div>
    </div>

    <div class="am-u-sm-12">
        <p style="padding-left: 10px;font-family: 楷体">随机排序，没有排名，全是大佬</p>

    </div>
    <div class="am-u-sm-12">
        <div class="friend-url">
            <a class="friendItem">
                <div class="box">

                </div>
            </a>
        </div>
    </div>
</div>

</body>
</html>