<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--个人信息-->
<body>
    <div th:fragment="right">
        <div class="kyx-right">
            <div class="user-info">
                <ul>
                    <li style="text-align: center">
                        <img src="source/image/tx.jpg">
                    </li>
                    <li style="text-align: center">
                        <h1>没人要的程序员</h1>
                    </li>
                    <li>
                        <p style="margin: 10px">人的一生注定会遇到两个人，一个惊艳了时光，一个温柔了岁月。---张爱玲</p>
                    </li>
                    <li style="margin-left: 5%">
                        <div class="am-u-sm-2">
                            <a style="margin: 10px;margin-left: 0px" class="am-icon-github am-icon-lg" href="https://github.com/1423826698"></a>
                        </div>
                        <div class="am-u-sm-10">
                            <p style="margin: 10px"> <span class="am-icon-qq">
                            :1423826698
                        </span></p>
                            <p style="margin: 10px"><span class="am-icon-wechat">
                            :ComeOnWillBeBetter
                        </span></p>
                        </div>


                    </li>
                    <li style="height: 1px;background:#c0c4cc;width:100%"></li>
                    <li class="layui-row" style="margin-left: 20%">
                        <div>
                            <button style="outline: none" class="myCardBtn am-btn am-btn-secondary am-round " data-am-offcanvas="{target:'#my-id',effect:'push'}">扫码交个朋友哈</button>
                        </div>
                    </li>
                </ul>
            </div>
            <div id="my-id" class="am-offcanvas">
                <div class="am-offcanvas-bar am-offcanvas-bar-flip">
                    <div class="am-offcanvas-content halving-line-words">
                        <p>
                            我不愿让你一个人 <br/>
                            承受这世界的残忍 <br/>
                            我不愿眼泪陪你到 永恒 <br/>
                        </p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                        <p style="color: #9effff;font-size: 18px"> 不妨加个好友试试吧 </p>

                        <div class="halving-line">
                            <i class="am-icon-hand-o-down" style="margin: 20px"></i>
                            <i class="am-icon-hand-o-down" style="margin: 20px"></i>
                            <i class="am-icon-hand-o-down" style="margin: 20px"></i>
                        </div>

                        <div class="">
                            <div style="margin-top: 20px">
                                <p>微信</p>
                                <img class="weixin_code" src="source/image/WeChat.jpg">
                            </div>
                            <div style="margin-top: 20px">
                                <p>QQ</p>
                                <p>&nbsp;&nbsp;&nbsp;&nbsp; </p>
                                <img class="qq_code" src="source/image/QQ.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="label-cloud">
            <div>
                <h1  style="margin-top: 10px ;text-align: center">标签云</h1>
            </div>
                <hr>
            <div class="kyx-label">

            </div>

            </div>
        </div>
    </div>
</body>
</html>